@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body {
    font-family: 'Inter', 'sans-serif';
 /* Замените 'путь_к_вашему_изображению.jpg' на путь к вашему фоновому изображению */
    background-size: cover; /* Растягивать фон до заполнения всего экрана */
    background-repeat: no-repeat; /* Не повторять фон */
    background-attachment: fixed; /* Фиксировать фон, чтобы он не двигался при прокрутке */
};
.box-area{
    background-color: #fff;
}
